
body {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display:flex;display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100vw;
  background: black;
}
#simon {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display:flex;display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display:flex;
  flex-direction: column;
}

.top, .bottom {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display:flex;display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display:flex;
}

.top .left, .top .right, .bottom .left, .bottom .right {
  width: 0;
	height: 0;
  margin: 1vh;
}
.top .left {
	border-bottom: 40vh solid rgba(0,255,0,.5);
	border-left: 40vh solid transparent;
  /*box-shadow: 1vh 1vh 2vh -.5vh #ccc;*/
}
.top .right {
	border-bottom: 40vh solid rgba(255,0,0,.5);
	border-right: 40vh solid transparent;
  /*box-shadow: -1vh 1vh 2vh -.5vh #ccc;*/
}
.bottom .left {
  border-top: 40vh solid rgba(255,255,0,.5);
  border-left: 40vh solid transparent;
  /*box-shadow: 1vh -1vh 2vh -.5vh #ccc;*/
}
.bottom .right {
  border-top: 40vh solid rgba(0,0,255,.5);
  border-right: 40vh solid transparent;
  /*box-shadow: -1vh -1vh 2vh -.5vh #ccc;*/
}
.innerCircle{
  position:absolute;
  border: black solid 15vh;
  border-radius:30vh;

}
.outerCircle{
  position:absolute;
  width: 59vh;
  height: 59vh;
  border-radius:70vh;
  border: black solid 12vh;
  pointer-events:auto;
}
.outerOuterCircle{
  position:absolute;
  width: 82.9vh;
  height:82.9vh;
  border: rgba(255,255,255,.5) solid .1vh;
  border-radius:60vh;
  pointer-events:none;
}
.backgroundCircle {
  position:absolute;
  width:0;
  height:0;
  border: black solid 35.5vh;
  border-radius:71vh;
  z-index:-1;
}
.label {
  position:absolute;
  color:white;
  font-family:'Syncopate',sans-serif;
  font-weight:bold;
  font-size: 5vh;
  padding-bottom:5vh;
  user-select:none;
}
.powerControl {
  position: absolute;
  display: flex;
  margin-top:3vh;
  color: white;
  font-family:'Syncopate',sans-serif;
  font-size:2vh;
}
.textOn, .textOff {
  width:3vh;
  user-select:none;
}
.textOn {
  position:relative;
  right:1vh;
}
.powerButton {
  width:10vh;
  background:gray;
  margin-right:1vh;
  margin-left:1vh;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display:flex;display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display:flex;
  justify-content:flex-end;
}
.powerSwitch {
  margin:0;
  padding:0;
  width:5vh;
  background:red;
}
.startButton {
  position:absolute;
  color: black;
  margin-top: 8.5vh;
  padding-bottom:0;
  padding-top:.3vh;
  padding-right: .3vh;
  padding-left: .3vh;
  /*border:rgba(255,0,0,.5) solid .5vh;
  border-radius:1vh;*/
  font-family:'Syncopate', sans-serif;
  font-size:2.5vh;
  background:rgba(255,0,0,.5);
  user-select:none;
  /*box-shadow: 0 0 .5vh .5vh rgba(255,0,0,.5);*/
}
.scoreBox {
  position:absolute;
  /*height:4vh;
  width:4vh;*/
  /*background: orange;*/
  margin-top:-9vh;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display:flex;display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display:flex;
  border:rgba(255,255,255,.1) solid .1vh;
  justify-content: center;
  align-items: flex-end;

}
.score {
  position:relative;
  top:.4vh;
  font-family:'Segment7Standard';
  color:rgba(255,255,255,.1);
  font-size: 5vh;
  user-select:none;

}
#green.on {
  border-bottom-color: rgba(0,255,0,1);
}
#red.on {
	border-bottom-color:red;
}
#yellow.on {
  border-top-color: yellow;
}
#blue.on {
  border-top-color: blue;
}
.top .left:active{
  border-bottom-color: rgba(0,255,0,1);
}
.top .right:active {
	border-bottom-color:red;
}
.bottom .left:active {
  border-top-color: yellow;
}
.bottom .right:active {
  border-top-color: blue;
}


@media screen and (orientation:portrait) {
  .top .left, .top .right, .bottom .left, .bottom .right {
    margin: 1vw;
  }
  .top .left {
  	border-bottom: 40vw solid rgba(0,255,0,.5);
  	border-left: 40vw solid transparent;
    /*box-shadow: 1vh 1vh 2vh -.5vh #ccc;*/
  }
  .top .right {
  	border-bottom: 40vw solid rgba(255,0,0,.5);
  	border-right: 40vw solid transparent;
    /*box-shadow: -1vh 1vh 2vh -.5vh #ccc;*/
  }
  .bottom .left {
    border-top: 40vw solid rgba(255,255,0,.5);
    border-left: 40vw solid transparent;
    /*box-shadow: 1vh -1vh 2vh -.5vh #ccc;*/
  }
  .bottom .right {
    border-top: 40vw solid rgba(0,0,255,.5);
    border-right: 40vw solid transparent;
    /*box-shadow: -1vh -1vh 2vh -.5vh #ccc;*/
  }
  .innerCircle{
    border: black solid 15vw;
    border-radius:30vw;
  }
  .outerCircle{
    position:absolute;
    width: 59vw;
    height: 59vw;
    border-radius:70vw;
    border: black solid 12vw;
  }
  .outerOuterCircle{
    width: 82.9vw;
    height:82.9vw;
    border: rgba(255,255,255,.5) solid .1vw;
    border-radius:60vh;
  }
  .backgroundCircle {
    border: black solid 35.5vw;
    border-radius:71vw;
  }
  .label {
    font-size: 5vw;
    padding-bottom:5vw;
  }
  .powerControl {
    margin-top:3vw;
    font-size:2vw;
  }
  .textOn, .textOff {
    width:3vw;
  }
  .textOn {
    right:1vw;
  }
  .powerButton {
    width:10vw;
    margin-right:1vw;
    margin-left:1vw;
  }
  .powerSwitch {
    width:5vw;
  }
  .startButton {
    margin-top: 8.5vw;
    padding-top:.3vw;
    padding-right: .3vw;
    padding-left: .3vw;
    font-size:2.5vw;
    /*box-shadow: 0 0 .5vw .5vw rgba(255,0,0,.5);*/
  }
  .scoreBox {
    margin-top:-9vw;
    border:rgba(255,255,255,.1) solid .1vw;

  }
  .score {
    top:.4vw;
    font-size: 5vw;

  }
}
